.page>.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page>.title>button{
    padding: 12px 37px;
    color: white;
    background-color: var(--var-main-color);
    border-radius: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: .3s all;
}

.page>.title>button:hover{
    background-color: var(--var-main-color-hover);
}

.page>.title>button:active{
    background-color: var(--var-main-color-active);
}

.page>.card-list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.page>.card-list>.card{
    height: 300px;
    background-color: white;
    padding: 25px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s all;
}

.page>.card-list>.card>.title{
    font-size: 24px;
    color: #3C3C3C;
    font-weight: 700;
    transition: .3s all;
}

.page>.card-list>.card>.responsible{
    margin-top: 10px;
    font-size: 14px;
    color: #C4CACD;
    font-weight: 700;
}

.page>.card-list>.card>.status{
    position: absolute;
    margin-top: 100px;
    padding: 5px 0;
    width: 120px;
    text-align: center;
    background-color: #F6F8FA;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
}

.page>.card-list>.card.plan{
    border-bottom: 10px solid #BE9AE4;
}

.page>.card-list>.card.plan>.status{
    color: #BE9AE4;
}

.page>.card-list>.card.work{
    border-bottom: 10px solid #849FF4;
}

.page>.card-list>.card.work>.status{
    color: #849FF4;
}

.page>.card-list>.card.sent{
    border-bottom: 10px solid #D8BFD8;
}

.page>.card-list>.card.sent>.status{
    color: #D8BFD8;
}

.page>.card-list>.card.shipped{
    border-bottom: 10px solid #AFDAFC;
}

.page>.card-list>.card.shipped>.status{
    color: #AFDAFC;
}

.page>.card-list>.card.completed{
    border-bottom: 10px solid #71BC78;
}

.page>.card-list>.card.completed>.status{
    color: #71BC78;
}

.page>.card-list>.card:hover{
    background-color: var(--var-main-color);
    border: 0;
}

.page>.card-list>.card:hover .title{
    color: white;
}

.page>.card-list>.card:hover .responsible{
    opacity: 0;
}

.page>.card-list>.card:hover .status{
    opacity: 0;
}

.modal{
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.4);
}

.modal>.modal-content{
    background-color: white;
    padding: 40px;
    border: 0;
    border-radius: 33px;
}

.modal>.modal-content>form{
    display: flex;
    flex-direction: column;
    width: 340px;
}

.modal>.modal-content>form>p.title{
    color: black;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 5px;
}

.modal>.modal-content>form>label{
    margin-top: 25px;
    margin-bottom: 10px;
    color: #565555;
    font-size: 12px;
    font-weight: 600;
}

.modal>.modal-content>form>input{
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    padding: 12px 20px;
    color: #6A6A6A;
    font-weight: 600;
    font-size: 14px;
    outline: none;
    transition: .3s all;
}

.modal>.modal-content>form>input:hover{
    border: 1px solid var(--var-main-color);
}

.modal>.modal-content>form>input:focus{
    border: 1px solid var(--var-main-color);
}

.modal>.modal-content>form>select{
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    padding: 12px 20px;
    color: #6A6A6A;
    font-weight: 600;
    font-size: 14px;
    outline: none;
    transition: .3s all;
}

.modal>.modal-content>form>select:hover{
    border: 1px solid var(--var-main-color);
}

.modal>.modal-content>form>select:focus{
    border: 1px solid var(--var-main-color);
}

/* Style the Select2 container */
.select2-container {
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    color: #6A6A6A;
    font-weight: 600;
    font-size: 14px;
    outline: none;
    transition: .3s all;
}

/* Style the Select2 container on hover */
.select2-container--default .select2-selection--single:hover {
    border: 1px solid var(--var-main-color);
}

/* Style the Select2 container on focus */
.select2-container--default .select2-selection--single:focus-within {
    border: 1px solid var(--var-main-color);
}

/* Style the dropdown */
.select2-container--default .select2-selection--multiple {
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    padding: 12px 20px;
    color: #6A6A6A;
    font-weight: 600;
    font-size: 14px;
}

/* Style the tags inside the dropdown */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #D2D3D7;
    color: #6A6A6A;
    border-radius: 7px;
}

.modal>.modal-content>form>button[type="submit"]{
    margin-top: 20px;
    padding: 14px 0;
    background-color: var(--var-main-color);
    border: 0;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: .3s all;
}

.modal>.modal-content>form>button[type="submit"]:hover{
    background-color: var(--var-main-color-hover);
}

.modal>.modal-content>form>button[type="submit"]:active{
    background-color: var(--var-main-color-active);
}

.modal>.modal-content>form>button[type="button"]{
    margin-top: 20px;
    padding: 14px 0;
    background-color: #F95B5E;
    border: 0;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: .3s all;
}

.modal>.modal-content>form>button[type="button"]:hover{
    background-color: #FA7275;
}

.modal>.modal-content>form>button[type="button"]:active{
    background-color: #E76567;
}